*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
:root{
    --family:'Josefin Sans', sans-serif;
    --color:#E50914;
    /* --color:rgb(204, 102, 255); */
    --transitionValue:.2s all linear;
}

.homepage{
    /* border:1px solid red; */
    min-height:100vh;
    font-family:var(--family);
}


.homepage_box_1{
    /* border:1px solid red; */
    height:70vh;
    background-size:cover;
    background-position:center center;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('https://images.pexels.com/photos/2398356/pexels-photo-2398356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.header{
    height:12%;
    /* border:1px solid red; */
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 3rem;
}

.logo{
    color:var(--color);
    font-size:2rem;
    text-decoration:none;
    outline:none;
}

.link{
    padding:.8rem 1rem;
    border-radius:.2rem;
    font-size:1rem;
    color:white;
    background-color:var(--color);
    text-decoration:none;
    outline:none;
}

.main{
    /* border:1px solid red; */
    height:88%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

.main_box_1{
    /* border:1px solid red; */
    width:50%;
    text-align:center;
}

.main_box_1 h1{
    font-size:3.5rem;
}

.main_box_1 h4{
    font-weight:100;
    margin-top:1rem;
}
.main_box_2{
    /* border:1px solid red; */
    width:50%;
    text-align:center;
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_box_2 form{
    /* border:1px solid red; */
    overflow:hidden;
    border-radius:.3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width:60%;
}

.main_box_2 form input{
    height:4rem;
    background-color:white;
    font-family:var(--family);
    outline:none;
    border:none;
    width:70%;
    padding:0rem 1rem;
    font-family:var(--family);
}

.main_box_2 form button{
    height:4rem;
    width:30%;
    border:none;
    background-color:var(--color);
    text-align: center;
    color:white;
    font-family:var(--family);
    font-size:1rem;
}

.main_box_2 h4{
    font-weight:100;
    margin-top:1rem;
    color:white;
}

.homepage_box_2,.homepage_box_3{
    /* border:1px solid red; */
    height:40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color:black;
    border-bottom:2px solid rgba(255,255,255,.5);
}

.homepage_box_2_box_1{
    /* border:1px solid red; */
    width:25%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:1rem;
}

.homepage_box_2_box_1 h1{
    line-height:1.2;
}
.homepage_box_2_box_1 p {
    margin-top:1rem;
    font-weight:100;
    line-height:1.5;
}

.homepage_box_2_box_2{
    /* border:1px solid red; */
    width:25%;
    height:50%;
    display: flex;
    justify-content: flex-start;
    margin-left:1rem;
}

.homepage_box_2_box_2 div{
    /* border:1px solid blue; */
    height:100%;
    background:url('https://images.pexels.com/photos/3004075/pexels-photo-3004075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width:100%;
    background-size:cover;
    background-position: center;
    border-radius:.4rem;
}

.homepage_box_5_box_2 div{
    /* border:1px solid blue; */
    height:100%;
    background:url('https://images.pexels.com/photos/3417667/pexels-photo-3417667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    width:100%;
    background-size:cover;
    background-position: center;
    border-radius:.4rem;
}

.homepage_box_3_box_1
{
    align-items: flex-end;
    
}

.homepage_box_3_box_2 div{
    background:url('https://images.pexels.com/photos/436413/pexels-photo-436413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size:cover;
    background-position: center;
}

.homepage_box_4{
    /* border:1px solid red; */
    padding:4rem 0rem;
    color:white;
    background-color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.homepage_box_4 h1{
    font-size:3rem;
}

.homepage_box_4_box{
    margin-top:3rem;
    margin-bottom:3rem;
}

.card{
    background-color:rgba(255,255,255,.1);
    color:white;
    font-weight:100;
    border-radius:.2rem;
    padding:1.5rem 3rem;
    /* border:1px solid red; */
    width:45vw;
    margin-top:.6rem;
    margin-bottom:.6rem;
}

.card_box_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
}

.card_box_1 h3{
    /* border:1px solid red; */
    font-weight:100;
    font-size:1.5rem;
}

.card_box_1 h3:last-child{
    font-size:2rem;
}

.card_box_1 h3:last-child:hover{
    cursor: pointer;
}

.card_box_2{
    margin-top:2rem;
    font-size:1.5rem;
    line-height:1.2;
}

.footer{
    height:4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    border-top:2px solid rgba(255,255,255,.5);
}

.footer h4{
    font-family: var(--family);
    font-weight:100;
    color:white;
    font-size:1.3rem;
}

.message{
    /* border:1px solid red; */
    width:100vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,.7);
}

.messageBox_1{
    /* border:1px solid red; */
    margin-top:3rem;
    display:flex;
    justify-content: flex-end;
    padding-right:4rem;
}

.messageBox_1 h4{
    width:5rem;
    height:5rem;
    border:3px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1rem;
    color:white;
    transition:var(--transitionValue);
}

.messageBox_1 h4:hover{
    cursor: pointer;
    background-color:white;
    color:black;
}

.messageBox_2{
    /* border:1px solid red; */
    margin-top:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:3rem 0rem;
}

.messageImageBox{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    margin-top:4rem;
    align-items: center;
}

.messageImageBox img{
    width:20vw;
    height:15vw;
    border-radius:1rem;
}

.messageBox_2 h4{
    font-size:2rem;
    color:var(--color);
    font-weight:100;
    margin-top:2rem;
    text-align: center;
}

.messageBox_2_box {
    /* border:1px solid red; */
    width:50vw;
    height:30vw;
    background-color:white;
    border-radius:1rem;
}

.part_8{
	/*border:1px solid red;*/
	padding:5px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	background-color:black;
	color:white;
	padding-top:100px;
    padding-bottom:100px;
    font-family:var(--family);
}

.part_8_box_2{
	padding:5px;
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:40%;
	display:flex;
	flex-direction: column;
}
.part_8_box_2_box_1{
	padding:5px;
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.part_8_box_2_box_1 div{
	/*border:1px solid red;*/
	margin-right:75px;
}
.part_8_box_2_box_1 div h2{
	font-size:18px;
}
.part_8_box_2_box_1 div h3{
    font-size:15px;
    margin-top:1rem;
	transition:.2s all linear;
}
.part_8_box_2_box_1 div h3:hover{
	color:var(--color);
	cursor:pointer;
}
.part_8_box_2_box_2{
	/*border:1px solid red;*/
	padding:5px;
	text-align:center;
	margin-top:100px;
}
.part_8_box_2_box_2 h4{
	display:inline-block;
	/*border:1px solid red;*/
	margin-right:20px;
	font-weight:100;
	color:rgba(255,255,255,.5);
}

.login{
    /* border:1px solid red; */
    min-height: 100vh;
}

.loginBox_1{
    border:1px solid transparent;
    /* height:90vh; */
    background-size:contain;
    background-position:center center;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('https://images.pexels.com/photos/1769413/pexels-photo-1769413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.loginFormBox{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    height:88%;
    margin-top:8rem;
    margin-bottom:8rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding:3rem;
    border-radius:1rem;
    background-color:rgba(0,0,0,.7);
    height:60vh;
    
}

.form h3{
    color:white;
    font-weight:400;
    margin-bottom:1.5rem;
    font-size:1.5rem;
}

.form input{
    width:25rem;
    height:3rem;
    padding:1.2rem 1rem;
    border-radius:.3rem;
    background:rgba(255,255,255,.5);
    font-family:var(--family);
    font-size:1rem;
    border:none;
    outline:none;
    margin-top:.8rem;
    border:2px solid transparent;
    margin-bottom:.8rem;
    color:white;
}

.btn{
    margin-top:1rem;
    margin-bottom:1rem;
    border:none;
    background:var(--color);
    border-radius:.2rem;
    color:white;
    font-family:var(--family);
    font-size:1.2rem;
    outline: none;
    padding:1.5rem 0rem;
}

.btn:hover{
    cursor: pointer;
}

.form input:focus{
    border:2px solid rgb(77, 77, 255);
}
.form h4{
    color:white;
    font-weight:100;
}
.address{
    color:white;
    font-weight:400;
    outline:none;
    text-decoration: none;
}

.form button{
    margin-top:3rem;
}

.form button h4{
    margin-top:1.5rem;
}

.login .part_8{
    height:80vh;
}