:root{
    --lighBlue:rgb(255, 230, 247);
    --mainColor:rgb(255, 77, 136);
    --mainFamily:'Quicksand', sans-serif;
    --myH:calc(100vh - 12vh);
    --lightRed:rgb(255, 102, 102);
    --trans:.2s all linear;;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:var(--mainFamily);
}
body{
    overflow-x:hidden;
}
a{
    color:white;
    text-decoration: none;
    font-weight:100;
    margin-left:.5rem;
    margin-right:.5rem;
}
body{
    font-family:var(--mainFamily);
}
.nav{
    box-sizing: border-box;
    height:7vh;
    display:flex;
    padding:.5rem 3rem;
    align-items:center;
    background-color:var(--mainColor);
    justify-content: space-between;
}
.nav_box_1 a{
    font-size:1.5rem;
}
.footer{
    box-sizing:border-box;
    height:5vh;
    background-color:var(--mainColor);
    display:flex;
    justify-content: center;
    align-items:center;
}
.footer h4{
    font-weight:100;
    color:white;
}

.homepage{
    box-sizing: border-box;
    height:var(--myH);
    display:flex;
}
.homepage_box_1{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-basis:50%;
    flex-shrink:0;
}
.homepage_box_1 div{
    box-sizing: border-box;
    width:50%;
}
.homepage_box_2{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-basis:50%;
    flex-shrink:0;
}
.homepage_box_1 div p{
    line-height:1.5;
    text-align:justify;
}
.homepage_box_1 h1{
    font-weight:100;
    color:var(--mainColor);
    margin-bottom:2rem;
}

.homepage_box_2 div{
    box-sizing: border-box;
    height:20vw;
    width:20vw;
    border-radius:50%;
    background:url("https://cdn.dribbble.com/users/2816838/screenshots/8751099/media/e72af5acfdb44c234079dcfea3f12ced.png?compress=1&resize=1000x750");
    background-size:cover;
    background-position:center center;
    box-shadow:0px 0px 6px rgba(0,0,0,.5);
}

.box{
    /* border:1px solid red; */
    box-sizing: border-box;
    height:var(--myH);
    display:flex;
}

.box_1{
    /* border:1px solid red; */
    flex-basis:50%;
    flex-shrink:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box_2{
    /* border:1px solid red; */
    flex-basis:50%;
    flex-shrink:0;
}

.box_2{
    display:flex;
    justify-content: center;
    align-items:center;
}
.box_2 h3{
    font-size:3rem;
    font-weight:100;
    color:white;
}

.form{
    /* border:1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    width:30vw;
    padding:2rem 6rem;
    min-height:45vh;
    background-color:white;
    /* box-shadow:0px 3px 8px rgba(0,0,0,.8); */
}

.form h4{
    font-weight:100;
    margin-top:1rem;
    margin-bottom:1rem;
}
.form a{
    color:var(--mainColor);
}
.form h3,#addToDo_form h3{
    text-align:center;
    font-weight:100;
    font-size:1.5rem;
    margin-bottom:2rem;
    color:var(--mainColor);
}
.form input,#addToDo_form input,.form textarea{
    box-sizing: border-box;
    margin-top:.8rem;
    margin-bottom:.8rem;
    border:1.2px solid var(--mainColor);
    padding:.5rem 1rem;
    outline:none;
    font-family:var(--mainFamily);
}
.form textarea{
    box-sizing: border-box;
    width:100%;
    height:15vh;
    overflow-x:hidden;
    overflow-y:hidden;
    font-family:var(--mainFamily);
    
}
.form input[type='submit'],#addToDo_form input[type = "submit"]
{
    border:1px solid var(--mainColor);
    color:var(--mainColor);
    transition:var(--trans);
    background-color:white;
}
.form input[type='submit']:hover,#addToDo_form input[type = "submit"]:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white;
}

.register .box_2{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),url("https://cdn.dribbble.com/users/2155131/screenshots/11048036/media/9e5eaf57a3d753a253216bf6046858a8.jpg");
    background-position:center;
    background-size:cover;
}

.btn{
    border:none;
    background:none;
    font-family:var(--mainFamily);
    color:var(--mainColor);
    font-size:1rem;
    padding:.5rem 2rem;
    border:1.5px solid var(--mainColor);
    outline:none;
    transition: var(--trans);
}

.form button{
    margin-top:1rem;
    margin-bottom:1rem;
}
.btn:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white
}

.login .box_2{
    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),url("https://cdn.dribbble.com/users/2155131/screenshots/6250363/discuss.jpg");
    background-position:center;
    background-size:cover;
}


.empty{
    box-sizing: border-box;
    width:100%;
    height:var(--myH);
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    align-items:center;
}

.empty h4{
    box-sizing: border-box;
    width:30vw;
    border:2px solid red;
    height:7vw;
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight:100;
    color:red;
    font-size:1.5rem;
}


.msg{
    position:absolute;
    top:5rem;
    min-width:10vw;
    border-left:5px solid var(--mainColor);
    right:0px;
    background-color:white;
    box-shadow:0px 0px 3px rgba(0,0,0,.5);
    font-weight:100;
    padding:.8rem 1rem;
    text-align:center;
}
.nav button{
    background:none;
    color:white;
    margin-left:1rem;
    margin-right:1rem;
}

.post {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,.2);
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    z-index:100;
}

.post .post_container{
    border:1px solid transparent;
}
.post .post_container form {
    border-radius:.5rem;
}

.post_cut{
    width:5vw;
    height:5vw;
    position: absolute;
    top:3rem;
    right:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    color:white;
    transition: var(--trans);
}

.post_cut:hover{
    cursor: pointer;
    color:black;
    background-color:white;
}

.post_cut:hover i {
    color:black;
}

.feed {
    border:1px solid red;
    padding:3rem 10rem;
    display:flex;
    justify-content: center;
    height:var(--myH);
    overflow-y:auto;
}

.feed_box{
    /* border:1px solid red; */
    flex-shrink:0;
    flex-basis:50%;
    padding:2rem;
}
.feed_box h1 ,.viewUsers h1{
    font-weight:100;
    color:var(--mainColor);
    text-align: center;
}
.profile {
    /* border:1px solid red; */
    width:20vw;
    height:45vh;
    margin-right:2rem;
    padding:2rem;
    background-color:white;
    border-radius:.5rem;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}
.profile_box_1{
    /* border:1px solid red; */
    min-height:50%;
    
}
.profile_box_2{
    /* border:1px solid red; */
    margin-top:2rem;
}
.profile_image_box{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:1.5rem;
}

.profile_image_box img {
    width:10rem;
    height:10rem;
    border-radius:50%;
    border:1.5px solid white;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

.profile_box_1 h3{
    font-weight:100;
    color:var(--mainColor);
    font-size:2rem;
    text-align: center;
    margin-top:1rem;
}

.profile_box_2 p{
    box-sizing: border-box;
    line-height:2;
    width:100%;
    height:auto;
    /* border:1px solid red; */
    display:inline-block;
    /* overflow:auto; */
}

.editImage{
    /* border:1px solid red; */
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    background:white;
    outline:none;
    position: absolute;
    bottom:1.2rem;
    left:12rem;
    border:none;
    box-shadow:2px 2px 2px rgba(0,0,0,.5);
    color:var(--mainColor);
}
.editImage:hover{
    cursor:pointer;
}

.posts_box{
    margin-top:3rem;
}

.single_post {
    /* border:1px solid red; */
    height:17vh;
    display:flex;
    margin-top:2rem;
    margin-bottom:2rem;
    background-color:white;
    box-shadow:0px 2px 3px rgba(0,0,0,.2);
    overflow:hidden;
    border-radius:.5rem;
    position: relative;
    top:0px;
    transition: var(--trans);
}
.single_post:hover{
    cursor: pointer;
    top:-10px;
}

.post_box_1{
    /* border:1px solid red; */
    flex-basis: 25%;
    flex-shrink: 0;
}
.post_box_1 img{
    box-sizing: border-box;
    width:100%;
    height:100%;
}
.post_box_2{
    /* border:1px solid red; */
    flex-basis:75%;
    flex-shrink: 0;
    padding:1rem;
    padding-left:1rem;
}

.post_box_3{
    /* border:1px solid red; */
    display:flex;
    justify-content: space-between;
    margin-top:1rem;
}
.post_box_3 div{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
}
.post_box_3 div button{
    background:none;
    border:none;
    outline:none;
    margin-right:.5rem;
}
.post_box_3 div h4{
    font-weight:100;
    color:var(--mainColor);
}
.liked {
    color:var(--mainColor);
}
.post_box_2 h3, .post_box_3 h4{
    font-weight:100;
    color:var(--mainColor);
}
.post_box_2 h5{
    font-weight:100;
    color:grey;
}
.post_box_2 p{
    margin-top:.5rem;
    line-height:2;
}

button{
    outline:none;
    border:none;
}

.viewUsers{
    padding:3rem;
    height:var(--myH);
}

.users_box{
    height:70%;
    overflow-y: auto;
    width:60vw;
    margin:0px auto;
    margin-top:4rem;
    padding:2rem;
}

.user{
    /* border:1px solid red; */
    display:flex;
    height:15vh;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    overflow:hidden;
    border-radius: .5rem;
    box-shadow:0px 2px 3px rgba(0,0,0,.2);
}

.user_box_1{
    /* border:1px solid red; */
    flex-shrink: 0;
    flex-basis: 15%;
}
.user_box_1 img{
    width:100%;
    height:100%;
}
.user_box_2{
    /* border:1px solid red; */
    flex-shrink: 0;
    flex-basis: 85%;
    padding:0rem 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.user_box_2 h4{
    font-size:1.5rem;
    font-weight:100;
    color:var(--mainColor);
}

.user_box_2 div button,#accept,#reject{
    width:3rem;
    height:3rem;
    background:none;
    outline:none;
    border:2.5px solid var(--mainColor);
    border-radius: 50%;
    font-size:1.2rem;
    color:var(--mainColor);
    transition:var(--trans);
    margin-left:1rem;
    margin-right:1rem;
}
.user_box_2 div button:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white;
}


#accept
{
    border:2.5px solid green;
    color:green;
}
#accept:hover{
    background-color: green;
    color:white;
}
#reject
{
    border:2.5px solid red;
    color:red;
}

#reject:hover{
    background-color: red;
    color:white;
}

.notifs{
    position: absolute;
    top:5rem;
    right:2rem;
    background-color: white;
    width:15vw;
    height:30vh;
    border-radius:.5rem;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
}

.notifs h3{
    text-align: center;
    font-weight:100;
    color:var(--mainColor);
    margin-top:1rem;
    margin-bottom:1rem;
}
.notif_box{
    /* border:1px solid red; */
    height:80%;
    overflow: auto;
}

.notif_box a{
    display: inline-block;
    border:1px solid red;
    padding:.5rem;
    /* width:100%; */
}

.fullPost{
    /* border:1px solid red; */
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,.2);
    z-index: 100;
    overflow-y:auto;;
    padding-bottom:4rem;
}
.fullpost_box_1{
    /* border:1px solid red; */
    display: flex;
    justify-content: flex-end;
    margin:4rem;
}
.fullPost h1,h2,h3,h4{
    font-weight:100;
}
.fullpost_box_1 h4,.addComment div h4{
    border:4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:1.5rem;
    width:6rem;
    height:6rem;
    transition: var(--trans);
}
.fullpost_box_1 h4:hover,.addComment div h4:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}
.fullpost_box_2{
    border-bottom:2px solid var(--mainColor);
    margin-top:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:2rem;
    padding-bottom:1.5rem;
}
.fullpost_box_2 h3{
    font-weight:bold;
    font-size:1.5rem;
}
.fullpost_box_2 h4{
    font-size:.8rem;
    color:var(--mainColor);
}
.fullpost_box_3{
    /* border:1px solid red; */
    margin-top:2rem;
    margin-bottom:2rem;
    display: flex;
    justify-content: center;
}
.fullpost_box_3 img{
    border:.5rem solid white;
    box-shadow:0px 0px 3px rgba(0,0,0,.2);
    border-radius:.8rem;
}
.fullpost_box_4{
    /* border:1px solid red; */
    margin-top:2rem;
    margin-bottom:2rem;
    height:20%;
    overflow:auto;
}
.fullpost_box_4 p{
    line-height:1.5;
    text-align: justify;
}
.fullpost_box_5{
    /* border:1px solid red; */
    margin-top:2rem;
    margin-bottom:2rem;
}
.fullpost_box_5 h2{
    color:var(--mainColor);
    margin-top:1rem;
    margin-bottom:1rem;
}
.fullpost_box_5 button{
    background:none;
    border:2px solid var(--mainColor);
    color:var(--mainColor);
    padding:.5rem 1rem;
    border-radius:2rem;
    transition:var(--trans);
}
.fullpost_box_5 button:hover{
    cursor: pointer;
    background-color:var(--mainColor);
    color:white;
}
.fullpost_box_5 h4{
    border:2px solid red;
    height:4rem;
    width:20rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:red;
    margin-top:2rem;
    margin-bottom:2rem;
}
.fullpost_box_6{
    /* border:1px solid red; */
    margin-top:2rem;
    margin-bottom:2rem;
    padding-left:2rem;
    margin-top:2rem;
    overflow-y:auto;
    height:20vh;
}

.fullpost_container{
    width:60vw;
    margin:0px auto;
    background-color:white;
    padding:3rem;
    border-radius:.5rem;
    margin-bottom:4rem;
}

.addComment{
    width:100%;
    height:100%;
    position:fixed;;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,.6);
    display:flex;
    justify-content: center;
    align-items: center;
}

.addComment form{
    width:30%;
    height:auto;
    background-color:white;
    padding:3rem 4rem;;
    display:flex;
    flex-direction: column;;
    border-radius:.5rem;
}

.addComment form input{
    border:none;
    outline:none;
    border-bottom:2px solid var(--mainColor);
    padding-bottom:1rem;
    font-size:1.5rem;
}
.addComment form button{
    font-family:var(--mainFamily);
    background-color:var(--mainColor);
    color:white;
    border-radius:.2rem;
    width:8rem;
    height:3rem;
    margin-top:2rem;
}

.addComment div{
    position:absolute;
    top:5rem;
    right:5rem;
    display:flex;
    justify-content: flex-end;
}

.comment{
    /* border:1px solid red; */
    width:60%;
    height:12vh;
    display: flex;
    margin-top:2rem;
    margin-bottom:2rem;
    border-radius:.5rem;
    box-shadow:0px 3px 3px rgba(0,0,0,.2);
}

.comment_box_1{
    flex-basis:20%;
    padding:1rem;
    flex-shrink: 0;
}
.comment_box_1 img{
    width:100%;
    height:100%;
    border-radius:50%;
    border:.2rem solid white;
    box-shadow:0px 0px 3px rgba(0,0,0,.2);
}

.comment_box_2{
    padding:2rem;
    flex-basis:70%;
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment_box_2 h5{
    color:var(--mainColor);
    font-weight:100;
}

.comment_box_2 h3{
    font-size:1rem;
    line-height:1.5;
}

.comment_box_2 h3 b{
    margin-right:.5rem;
}

.imageForm{
    /* border:1px solid red; */
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,.6);
    z-index:100;
}
.imageForm_box_1{
    display:flex;
    justify-content: flex-end;
    margin-top:4rem;
    padding-right:4rem;
}

.imageForm_box_1 h4{
    border:2px solid white;
    width:5rem;
    height:5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    transition:var(--trans);
}

.imageForm_box_1 h4:hover{
    background-color:white;
    cursor:pointer;
    color:black;
}

.imageForm form{
    width:30%;
    height:auto;
    padding:3rem 0rem;
    /* border:1px solid red; */
    margin:0px auto;
    margin-top:10rem;
    border-radius:.5rem;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.imageForm form input{
    border:2.5px solid var(--mainColor);
    width:60%;
    padding:.8rem;
    border-radius:.3rem;
}
.imageForm form button{
    margin-top:2rem;
    background-color:var(--mainColor);
    color:white;
    width:6rem;
    border-radius:.3rem;
    height:2.5rem;
    font-size:1rem;
}
